body {
  font-family: sans-serif;
}

.tab-content {
  display: none;
}

.tab-links {
  background-color: #f2f2f2;
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.tab-links:hover {
  background-color: #ddd;
}

.tab-links.active {
  background-color: #ddd;
  color: #333;
}

.tab-content.active {
  display: block;
}
