@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-container {
  height: 40vh;
  width: 50vh;
}

.carousel {
  position: relative;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.image-container {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.image {
  height: 100%;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.products {
  margin: 20px;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.products__single {
  height: 250px;
  padding: 20px;
  background-color: rgb(220, 220, 220);
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.products__single > img {
  width: 100%;
  height: 95%;
  object-fit: cover;
  margin-bottom: 3px;
}

.progress {
  position: relative;
  height: 20px;
  width: 800px;
  background-color: #fff;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.progress span {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.progress div {
  height: 100%;
  background-color: #00c251;
}
